/* UTILS */
.jumbo-bottom [class^="col"],
#playstation-5 [class^="col"] {
  min-height: 200px;
  border: red dashed 1px;
}

/* GENERICS */
img {
  max-width: 100%;
}
/* HEADER */
#header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#header-top .img-cs-logo {
  max-height: 15px;
  margin: 10px;
}

.nav-link {
  color: black;
  font-weight: bold;
}

.jumbo-top {
  margin-top: 110px;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
}

.jumbo-top > div:first-child {
  height: 675px;
}

.jumbo-top h2 {
  font-size: 40px;
}

/* MAIN */
