/* UTILS */
.text-bold {
  font-weight: bold;
}

.text-b-lightblue {
  color: #0072ce;
}

.text-b-grey {
  color: #727272;
}

/* GENERICS */
img {
  max-width: 100%;
}

h2 {
  font-size: 40px;
}

ul {
  list-style-type: none;
}

.jumbo-top,
.it-takes-two {
  background-size: cover;
  background-position: center;
}

.text-b-grey,
.text-b-lightblue {
  font-weight: bold;
}

/* HEADER */
/* Header-top */
#header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#header-top .img-cs-logo {
  max-height: 15px;
  margin: 10px;
}

.nav-link {
  font-weight: bold;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item > img {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  cursor: pointer;
}

/* jumbotron */
.jumbo-top {
  margin-top: 110px;
  background-image: url(../img/jumbo-bg.png);
}

.jumbo-top > div:first-child {
  height: 675px;
}

.jumbo-bottom img {
  border-radius: 20px;
  transition: transform 0.3s;
}

/* MAIN */
/* Playstaion 5 */
#playstation-5 .col::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 3px;
}

/* Nuove uscite */
#newreleases {
  background-color: #1f1f1f;
}
.it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.it-takes-two > div:first-child {
  height: 675px;
}

.newgames img {
  border-radius: 25px;
}

/* Ps Plus */
#ps-plus {
  background-color: #bebcbb;
}

/* Ps Now */
#ps-now {
  background-color: #151c3b;
}

/* FOOTER */
footer {
  background-color: #00439c;
}
/* Footer-top */
.footer-top li {
  margin-bottom: 10px;
}

.footer-top li > a {
  color: white;
  text-decoration: none;
}

/* EFFETTI HOVER */
.jumbo-bottom img:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

#playstation-5 .col:hover::after {
  background-color: #0072ce;
}

/* MEDIA QUERY */
@media screen and (min-width: 500px) {
  .jumbo-top img,
  .it-takes-two img {
    max-width: 60%;
  }

  #ps-plus .row .row img,
  #ps-now .row .row img {
    max-width: 70%;
  }
}

@media screen and (min-width: 768px) {
  #playstation-5 > .row:last-child img {
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .jumbo-top img {
    max-width: 80%;
  }
}
