/* UTILS */
.br-radius {
  border-radius: 25px;
}

.text-bold {
  font-weight: bold;
}

.text-b-lightblue {
  color: #0072ce;
}

.text-b-grey {
  color: #727272;
}

.text-b-grey,
.text-b-lightblue {
  font-weight: bold;
}

/* GENERICS */
img {
  max-width: 100%;
}

h2 {
  font-size: 40px;
}

ul {
  list-style-type: none;
}

.jumbo-top,
.it-takes-two {
  background-size: cover;
  background-position: center;
}

/* HEADER */
/* Header-top */
#header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#header-top .img-cs-logo {
  max-height: 15px;
  margin: 10px;
}

.nav-link {
  color: black;
  font-weight: bold;
}

/* jumbotron */
.jumbo-top {
  margin-top: 110px;
  background-image: url(../img/jumbo-bg.png);
}

.jumbo-top > div:first-child {
  height: 675px;
}

/* MAIN */
/* Playstaion 5 */

/* Nuove uscite */
#newreleases {
  background-color: #1f1f1f;
}
.it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.it-takes-two > div:first-child {
  height: 675px;
}

/* Ps Plus */
#ps-plus {
  background-color: #bebcbb;
}

/* Sconti Ps Store */

/* Ps Now */
#ps-now {
  background-color: #151c3b;
}

/* Socials */

/* FOOTER */
footer {
  background-color: #00439c;
}
/* Footer-top */
.footer-top li {
  margin-bottom: 10px;
}

.footer-top li > a {
  color: white;
  text-decoration: none;
}

/* MEDIA QUERY */
@media screen and (min-width: 499px) {
  .jumbo-top img,
  .it-takes-two img {
    max-width: 60%;
  }

  #ps-plus .row .row img,
  #ps-now .row .row img {
    max-width: 70%;
  }
}

@media screen and (min-width: 767px) {
  #playstation-5 > .row:last-child img {
    max-width: 50%;
  }
}

@media screen and (min-width: 991px) {
  .jumbo-top img {
    max-width: 100%;
  }
}
